:root {
  --primary-black: #000000;
  --primary-red: #ff0000;
  --primary-green: #008000;
  --primary-blue: #0000ff;
  --opacity: 0.6;
  --size: 2px;
  --shadow: unset;
  --decoration: line-through;
}

.black.strikethrough-options-check:checked + .form-item__label {
  text-decoration: var(--decoration) var(--primary-black) var(--size);
  opacity: var(--opacity);
}
.black.strikethrough-options-check:checked {
  background-color: var(--primary-black);
  border-color: var(--primary-black);
  box-shadow: var(--shadow);
}

.red.strikethrough-options-check:checked + .form-item__label {
  text-decoration: var(--decoration) var(--primary-red) var(--size);
  opacity: var(--opacity);
}
.red.strikethrough-options-check:checked {
  background-color: var(--primary-red);
  border-color: var(--primary-red);
  box-shadow: var(--shadow);
}

.green.strikethrough-options-check:checked + .form-item__label {
  text-decoration: var(--decoration) var(--primary-green) var(--size);
  opacity: var(--opacity);
}
.green.strikethrough-options-check:checked {
  background-color: var(--primary-green);
  border-color: var(--primary-green);
  box-shadow: var(--shadow);
}

.blue.strikethrough-options-check:checked + .form-item__label {
  text-decoration: var(--decoration) var(--primary-blue) var(--size);
  opacity: var(--opacity);
}.blue.strikethrough-options-check:checked {
  background-color: var(--primary-blue);
  border-color: var(--primary-blue);
  box-shadow: var(--shadow);
}
